.mz-header {
  position: sticky;
  top: 0;
  z-index: 11;
  display: block;
  background-color: $white-bg-color;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 33%);
  min-width: 360px;
  width: 100%;
  height: 80px;

  .mz-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    .mz-header-logo {
      max-width: 240px;
      width: 100%;
      height: 100%;
      margin: 0 0 0 30px;

      .mz-header-logo-link {
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 100%;

        .mz-header-logo-img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    .mz-header-hamburger-btn {
      display: none;
      background-color: transparent;
      max-width: 100px;
      width: 100%;
      height: 100%;
      padding: 20px 30px;

      .mz-header-hamburger {
        position: relative;
        display: block;
        width: 100%;
        height: 30px;

        span {
          position: absolute;
          left: 0;
          display: block;
          background-color: $primary-bg-color;
          height: 4px;
          transition: $hover-transition-duration ease-in-out;

          &:nth-child(1) {
            width: 40px;
            top: 1px;
            transform-origin: left;
          }

          &:nth-child(2) {
            width: 40px;
            top: 50%;
            transform: translateY(-50%);
          }

          &:nth-child(3) {
            width: 40px;
            bottom: 1px;
            transform-origin: left;
          }
        }
      }

      &.--active-hamburger {
        .mz-header-hamburger {
          span {
            left: 7px;

            &:nth-child(1) {
              width: 34px;
              transform: rotate(45deg) translate(0px, 0px);
            }

            &:nth-child(2) {
              width: 0%;
            }

            &:nth-child(3) {
              width: 34px;
              transform: rotate(-45deg) translate(0px, 0px);
            }
          }
        }
      }
    }
    
    div.mz-header-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 40px;

      .mz-header-menu-item {
        .mz-header-menu-item-link {
          display: block;
          padding: 30px 0px 25px;
          border-width: 0 0 3px 0;
          border-style: solid;
          border-color: transparent;

          span {
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
          }

          svg {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 10px;
            transition: transform $hover-transition-duration ease-in-out;
          }
        }

        &.--has-mega-menu {
          .mz-mega-menu {
            position: absolute;
            left: 0;
            z-index: 99;
            background-image: linear-gradient(180deg,rgba(30,30,30,.25) 0,#f0f0f0 1%,#f0f0f0 100%);
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: height $hover-transition-duration ease-in-out;

            .mz-mega-menu-container {
              padding: 50px 30px;

              .mz-mega-menu-title {
                font-size: 33px;
                font-weight: 800;
                text-align: center;
                text-transform: uppercase;
                line-height: 36px;
                margin: 0 auto 10px;
              }

              .mz-mega-menu-subtitle {
                font-size: 18px;
                font-weight: 300;
                text-align: center;
                line-height: 25px;
                margin: 0 auto 50px;
              }

              .mz-mega-menu-list {
                display: flex;
                justify-content: center;
                align-items: stretch;
                gap: 30px;

                .mz-mega-menu-item {
                  background-color: $white-bg-color;
                  flex-basis: 170px;

                  .mz-mega-menu-link {
                    position: relative;
                    display: block;
                    box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
                    height: 100%;

                    .mz-mega-menu-img {
                      display: block;
                      background-size: cover;
                      height: 140px;
                      transition: $hover-transition-duration ease-in-out;
                    }

                    .mz-mega-menu-back-text {
                      text-transform: uppercase;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 120px;
                      padding: 20px 10px 10px;
                      overflow: hidden;
                    }

                    .mz-mega-menu-fore-text {
                      color: transparent;
                      text-transform: uppercase;
                      position: absolute;
                      top: 140px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      background-color: $primary-bg-color;
                      width: 100%;
                      height: 10px;
                      overflow: hidden;
                      transition:
                        height $hover-transition-duration ease-in-out,
                        100ms color 100ms ease-in-out;
                    }

                    &:hover {
                      opacity: 0.9;

                      .mz-mega-menu-img {
                        background-color: rgb(124 75 49 / 30%);
                        background-blend-mode: multiply;
                        transition: $hover-transition-duration ease-in-out;
                      }

                      .mz-mega-menu-fore-text {
                        color: $white-font-color;
                        height: 120px;
                      }
                    }
                  }
                }
              }
            }
          }
          
          &:hover {
            .mz-header-menu-item-link {
              // border-color: transparent;

              svg {
                transform: rotate(180deg);
              }
            }

            .mz-mega-menu {
              height: calc(90vh - 80px);
              transition: height $hover-transition-duration ease-in-out;
            }
          }
        }

        &:hover {
          .mz-header-menu-item-link {
            border-color: $primary-border-color;
          }
        }
      }

      .mz-header-cta {
        display: none;
        max-width: 100%;
        width: 100%;
        margin: 50px auto;
        padding: 0 30px;

        .mz-header-cta-list {
          .mz-header-cta-item {
            a {
              color: $white-font-color;
              padding: 20px;
              border: 1px solid $white-border-color;
            }
          }
        }
      }
    }

    ul.mz-header-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 40px;

      .mz-header-menu-item {
        > a {
          color: $black-font-color;
          font-weight: 600;
          text-transform: uppercase;
          line-height: 20px;
          display: block;
          padding: 30px 0px 25px;
          border-width: 0 0 3px 0;
          border-style: solid;
          border-color: transparent;
        }

        &.--has-mega-menu {
          > a {
            &::after {
              content: "";
              line-height: inherit;
              display: inline-block;
              vertical-align: middle;
              background-image: url(/wp-content/themes/metodo-zenon/images/MZ_Header_mega-menu-dropdown_icon.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              width: 10px;
              height: 8px;
              margin: 0 0 3px 14px;
              transition: transform $hover-transition-duration ease-in-out;
            }
          }

          > .sub-menu {
            position: absolute;
            left: 0;
            z-index: 99;
            display: block;
            background-image: linear-gradient(180deg, rgba(30,30,30,.25) 0%, #F0F0F0 0%, #F0F0F0 100%);
            width: 100%;
            height: 0;
            padding: 0;
            overflow: hidden;
            transition: height $hover-transition-duration ease-in-out;

            .mz-mega-menu-title {
              > a {
                color: $black-font-color;
                font-size: 33px;
                font-weight: 800;
                text-align: center;
                text-transform: uppercase;
                line-height: 36px;
                display: block;
                margin: 0 auto 10px;
                cursor: unset;
              }
            }

            .mz-mega-menu-subtitle {
              > a {
                color: $black-font-color;
                font-size: 18px;
                font-weight: 300;
                text-align: center;
                line-height: 25px;
                display: block;
                margin: 0 auto 50px;
                cursor: unset;
              }

              > .sub-menu {
                display: flex;
                justify-content: center;
                align-items: stretch;
                gap: 30px;

                > .mz-mega-menu-item {
                  position: relative;
                  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
                  max-width: 170px;
                  width: 100%;
                  height: 260px;
                  // border: 1px solid palegreen;

                  > a {
                    color: transparent;
                    text-align: center;
                    text-transform: uppercase;
                    position: absolute;
                    top: 140px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary-bg-color;
                    width: 170px;
                    height: 10px;
                    padding: 10px;
                    
                    &::before {
                      content: "";
                      position: absolute;
                      top: -140px;
                      left: 0;
                      display: block;
                      // background-image: url(/wp-content/themes/metodo-zenon/images/3.jpg);
                      background-color: $quaternary-bg-color;
                      background-position: top center;
                      background-repeat: no-repeat;
                      background-size: 170px 140px;
                      width: 170px;
                      height: 140px;
                    }

                    &::after {
                      content: attr(title);
                      color: $black-font-color;
                      text-align: left;
                      text-transform: uppercase;
                      position: absolute;
                      top: 0;
                      left: 0;
                      z-index: -9;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      background-color: $white-bg-color;
                      width: calc(170px - 20px);
                      height: calc(120px - 40px);
                      padding: 30px 10px 10px;
                    }
                  }

                  &:hover {
                    > a {
                      color: $white-font-color;
                      height: 120px;

                      &::before {
                        background-color: rgba(124,75,49,.3);
                        background-blend-mode: multiply;
                        transition: 350ms ease-in-out;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &:hover {
          > a {
            border-color: $primary-border-color;

            &::after {
              transform: rotate(180deg);
            }
          }

          > .sub-menu {
            box-shadow: 0 0 4px 1px rgb(0 0 0 / 33%);
            height: auto;
            padding: 50px 30px;
          }
        }

        &.current-menu-item {
          > a {
            border-color: $primary-border-color;
          }
        }

        &.mz-header-cta {
          display: none;
        }
      }
    }

    .mz-header-cta {
      max-width: 200px;
      width: 100%;
      margin: 0 30px 0 0;

      .mz-header-cta-list {
        .mz-header-cta-item {
          a {
            color: $primary-font-color;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
            width: 100%;
            padding: 15px 20px;
            border: 1px solid $primary-border-color;

            &:hover {
              color: $white-font-color;
              background-color: $primary-bg-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1180px){
  .mz-header {
    height: 160px;

    .mz-wrap {
      flex-wrap: wrap;
      height: 100%;

      .mz-header-logo {
        order: 1;
        height: 80px;
      }

      .mz-header-hamburger-btn {
        order: 2;
      }

      div.mz-header-menu {
        order: 4;
        width: 100%;
        border-top: 1px solid $primary-border-color;

        .mz-header-menu-item {
          .mz-header-menu-item-link {
            padding: 30px 0 25px;
          }

          &.--has-mega-menu {
            .mz-mega-menu {
              .mz-mega-menu-container {
                .mz-mega-menu-list {
                  flex-wrap: wrap;
                }
              }
            }
          }
        }
      }

      ul.mz-header-menu {
        order: 4;
        width: 100%;
        border-top: 1px solid $primary-border-color;
        
        .mz-header-menu-item {
          &.--has-mega-menu {
            > .sub-menu {
              > .mz-mega-menu-subtitle {
                > .sub-menu {
                  flex-wrap: wrap;
                }
              }
            }
          }
        }
      }

      .mz-header-cta {
        order: 3;
      }
    }
  }
}

@media (max-width: 768px){
  .mz-header {
    height: 90px;

    .mz-wrap {
      .mz-header-logo {
        height: 100%;
      }

      .mz-header-hamburger-btn {
        display: block;
      }

      div.mz-header-menu {
        display: block;
        background-color: rgba(73,35,12,.95);
        height: 0;
        overflow: hidden;
        transition:
          height $hover-transition-duration ease-in-out;

        .mz-header-menu-item {
          padding: 0 30px;
          
          .mz-header-menu-item-link {
            color: $white-font-color;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-color: $white-border-color;
          }

          &.--has-mega-menu {
            .mz-mega-menu {
              position: static;
            }

            &:hover {
              .mz-mega-menu {
                height: 100%;
              }
            }
          }
        }

        .mz-header-cta {
          display: block;
        }

        &.--show-hamburger-menu {
          height: calc(100vh - 90px);
          overflow: auto;
          transition:
            height $hover-transition-duration ease-in-out;
        }
      }

      ul.mz-header-menu {
        position: absolute;
        top: 90px;
        display: block;
        background-color: rgba(73,35,12,.95);
        height: 0;
        // height: auto;
        padding: 0;
        overflow: hidden;
        transition: padding $hover-transition-duration ease-in-out, height $hover-transition-duration ease-in-out;

        .mz-header-menu-item {
          padding: 0 30px;

          > a {
            color: $white-font-color;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-color: $white-border-color;
          }

          &.--has-mega-menu {
            > .sub-menu {
              position: relative;
            }
          }

          &.mz-header-cta {
            margin: 30px auto 0;
            display: block;
            max-width: 100%;
            width: 100%;

            > a {
              color: $primary-font-color;
              text-align: center;
              display: block;
              background-color: $white-bg-color;
              border-width: 1px;
              border-color: $white-border-color;

              &:hover {
                color: $white-font-color;
                background-color: transparent;
              }
            }
          }
        }

        &.--show-hamburger-menu {
          height: calc(100vh - 90px);
          overflow: auto;
          padding: 30px 0;
          transition: padding $hover-transition-duration ease-in-out, height $hover-transition-duration ease-in-out;
        }
      }
      
      .mz-header-cta {
        display: none;
      }
    }
  }
}

@media (max-width: 480px){
  .mz-header {
    .mz-wrap {
      flex-wrap: nowrap;

      ul.mz-header-menu {
        .mz-header-menu-item {
          &.--has-mega-menu {

          }
        }
      }
    }
  }
}