* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &::before,
  &::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font-family;
  font-style: normal;
  font-size: $normal-font-size;
  line-height: 1em;
  background: #FFFFFF;

  &::before {
    content: "Horizontal";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: translate(0 , -50%);
  }
  
  &::after {
    content: "Vertical";
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translate(-50% , 0);
  }

  &::before,
  &::after {
    color: red;
    font-weight: 600;
    position: fixed;
    z-index: 9999;
    background: red;
  }
  
  &::before,
  &::after {
    display: none;
  }

  &.theme-dark {
    background: #000000;
  }

  &.theme-light {
    background: #FFFFFF;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a,
button,
input[type=submit] {
  cursor: pointer;
  transition: $hover-transition-duration;
}

a {
  color: #000000;
  text-decoration: none;
  
  &:hover {
    color: #512912;
  }
  
  &:focus {}
  &:active {}
}

input[type=text],
input[type=number],
input[type=email],
input[type=url],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #512912;
}

input[type=submit] {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #49230C;
  opacity: 1;
  padding: 15px 20px;
  border: 1px solid #512912;

  &:hover {
    opacity: 0.8;
  }
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5em;
  margin: 0 0 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 35px; }
h4 { font-size: 30px; }
h5 { font-size: 25px; }
h6 { font-size: 20px; }

p, span, q, blockquote {
  font-weight: 300;
}

ol, ul {
  list-style: none inside;
}

svg {
  display: inline-block;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  thead {}

  tbody {}

  tfoot {}

  tr {}

  td {}
}