:root {
  --primary-font-family       : 'Archivo', sans-serif;
  --secondary-font-family     : 'Geometos', sans-serif;
  --normal-font-size          : 14px;

  --black-color               : #0A0A0A;
  --white-color               : #FFFFFF;
  --primary-color             : #512912;
  --secondary-color           : #030303;
  --tertiary-color            : #C2AB90;
  --quaternary-color          : #8B663E;
  --quinary-color             : #6F4A37;
  --senary-color              : #373F41;
  --septenary-color           : #AFACB4;
  --octonary-color            : #7D7D7D;
  --nonary-color              : #49230C;
  --denary-color              : #0B0D0F;

  --main-container            : 1140px;
  --lt-container              : 1080px;
  --tb-container              : 800px;
  --mb-container              : 600px;

  --hover-transition-duration : 350ms;
  --click-transition-duration : 300ms;
}

$primary-font-family          : var(--primary-font-family       );
$secondary-font-family        : var(--secondary-font-family     );
$normal-font-size             : var(--normal-font-size          );

$black-color                  : var(--black-color               );
$white-color                  : var(--white-color               );
$primary-color                : var(--primary-color             );
$secondary-color              : var(--secondary-color           );
$tertiary-color               : var(--tertiary-color            );
$quaternary-color             : var(--quaternary-color          );
$quinary-color                : var(--quinary-color             );
$senary-color                 : var(--senary-color              );
$septenary-color              : var(--septenary-color           );
$octonary-color               : var(--octonary-color            );
$nonary-color                 : var(--nonary-color              );
$denary-color                 : var(--denary-color              );

$main-container               : var(--main-container            );
$lt-container                 : var(--lt-container              );
$tb-container                 : var(--tb-container              );
$mb-container                 : var(--mb-container              );

$hover-transition-duration    : var(--hover-transition-duration );
$click-transition-duration    : var(--click-transition-duration );