.mz-sc-blog-post-listing {
  background: linear-gradient(90deg, $tertiary-bg-color 0%, $quaternary-bg-color 75.26%, $quinary-bg-color 100%);
  padding: 135px 30px;

  .mz-container {
    .mz-top-bar-row {
      justify-content: space-between;
      align-items: center;
      gap: 35px 0;
      margin: 0 auto 95px;

      .mz-category-tab-filter-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(10, 10, 10, 0.05);

        @keyframes textFlowingLtoR {
          0% {
            transform: translateX(200px);
          }
          100% {
            transform: translateX(-160px);
          }
        }

        .mz-category-tab-filter-item {
          color: $black-font-color;
          font-family: $primary-font-family;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          text-align: center;
          text-transform: uppercase;
          line-height: 18px;
          background-color: transparent;
          opacity: 1;
          max-width: 200px;
          min-width: 150px;
          width: 100%;
          overflow: hidden;
          padding: 20px 15px;
          border-width: 1px;
          border-style: solid;
          border-color: transparent;
          cursor: pointer;
          transition: all $hover-transition-duration ease-in-out;

          span {
            color: inherit;
            font-family: inherit;
            font-style: inherit;
            font-weight: inherit;
            font-size: inherit;
            text-align: inherit;
            display: block;
            overflow: hidden;
          }

          &:hover {
            border-color: $black-border-color;

            span {
              // animation: textFlowingLtoR 4500ms linear infinite;
            }
          }

          &.--active-item {
            color: $white-font-color;
            background-color: $quinary-font-color;

            &:hover {
              opacity: 0.9;
            }
          }
        }
      }

      .mz-search-bar-filter {
        position: relative;
        min-width: 100px;
        max-width: 300px;
        width: 100%;

        .mz-search-bar-input {
          font-family: $primary-font-family;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          background-color: transparent;
          width: 100%;
          padding: 18px 55px 18px 18px;
          border: 1px solid $primary-border-color;

          &::placeholder {
            text-transform: uppercase;
          }
        }

        .mz-search-bar-icon {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }

    .mz-blog-post-list {
      display: grid;
      grid-gap: 0 40px;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1px;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      .mz-blog-post-item {
        background-color: $white-bg-color;
        margin: 0 auto 40px;
        overflow: hidden;

        .mz-blog-post-img-wrap {
          display: block;
          background-color: gray;
          overflow: hidden;
          
          .mz-blog-post-img-link {
            display: block;
            width: 100%;

            .mz-blog-post-img {
              display: block;
              width: 100%;
              min-height: 200px;
            }
          }
        }

        .mz-blog-post-details-wrap {
          padding: 30px 20px;

          .mz-blog-post-title {
            color: $black-font-color;
            font-family: $primary-font-family;
            font-style: normal;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -0.02em;
            line-height: 22px;
            margin: 0 0 25px;
          }

          .mz-blog-post-excerpt {
            color: $senary-font-color;
            font-style: normal;
            font-size: 12px;
            font-weight: 300;
            line-height: 17px;
            margin: 0 0 20px;
          }

          .mz-inner-row {
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .mz-blog-post-released-date {
              color: $septenary-font-color;
              font-style: normal;
              font-size: 14px;
              font-weight: 300;
              text-transform: uppercase;
              letter-spacing: -0.02em;
              line-height: 15px;
            }

            .mz-a-link.mz-link-more-info {
              color: $quinary-font-color;
              font-style: normal;
              font-size: 15px;
              font-weight: 700;
              text-decoration: none;
              text-transform: uppercase;
              line-height: 15px;
              display: inline-block;
              vertical-align: middle;

              span {
                display: inline-block;
                vertical-align: middle;
                margin: 0 8px 0 0;
              }

              svg {
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }

    .mz-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .page-numbers {
        font-style: normal;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $white-bg-color;
        opacity: 0.7;
        width: 45px;
        height: 45px;
        cursor: pointer;

        &.prev {
          background-color: $primary-bg-color;
          opacity: 1;
        }

        &.next {
          background-color: $primary-bg-color;
          opacity: 1;
        }

        &.current {
          opacity: 1;
        }
      }
    }

    .pagination-list {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: stretch;
      gap: 10px;
      padding: 50px 0;

      .pagination-item {
        background-color: $white-bg-color;
        opacity: 0.7;
        cursor: pointer;

        &.paginate-prev {
          background-color: $primary-bg-color;
          opacity: 1;
        }

        &.paginate-next {
          background-color: $primary-bg-color;
          opacity: 1;
        }

        &.--active-page {
          opacity: 1;
        }

        span {
          font-style: normal;
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 45px;
        }      
      }
    }
  }
}

@media (max-width: 1180px){
  .mz-sc-blog-post-list {
    .mz-container {
      max-width: 900px;

      .mz-top-bar-row {
        flex-wrap: wrap-reverse;
        margin: 0 auto 70px;

        .mz-category-tab-filter-list {
          width: 100%;
          overflow: auto;
          padding: 0 0 4px;

          .mz-category-tab-filter-item {
            max-width: 100%;
            min-width: 200px;
            width: auto;
          }
        }

        .mz-search-bar-filter {
          max-width: 100%;
        }
      }

      .mz-blog-post-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 768px){
  .mz-sc-blog-post-list {
    .mz-container {
      .mz-blog-post-list {
        grid-template-columns: 320px;
      }
    }
  }
}

@media (max-width: 480px){
}