.mz-sc-section--hero {
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;

  @media only screen and (max-width: 1180px) {
    height: 400px;
  }

  @media only screen and (max-width: 768px) {
    height: 350px;
  }

  @media only screen and (max-width: 480px) {
    height: 300px;
  }

  .mz-container {
    height: 100%;

    .mz-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      h1 {
        color: #FFFFFF;
        font-style: normal;
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.5em;
        margin: 0;

        @media only screen and (max-width: 1180px) {
          font-size: 32px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 30px;
        }

        @media only screen and (max-width: 480px) {
          font-size: 28px;
        }
      }
    }
  }
}