.mz-hero-section {
  background-color: $black-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 440px;

  .mz-container {
    height: 100%;

    .mz-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      h1 {
        color: $white-font-color;
        font-style: normal;
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        line-height: 40px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 1180px){
  .mz-hero-section {
    height: 400px;

    .mz-container {
      .mz-wrap {
        h1 {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 768px){
  .mz-hero-section {
    height: 350px;

    .mz-container {
      .mz-wrap {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 480px){
  .mz-hero-section {
    height: 300px;

    .mz-container {
      .mz-wrap {
        h1 {
          font-size: 28px;
        }
      }
    }
  }
}