.mz-sc-section--testimonials-carousel {
  z-index: 1;
  background-color: #0B0D0F;
  padding: 0 0 50px;

  @media only screen and (max-width: 1180px) {
    padding: 0 30px 50px;
  }

  @media only screen and (max-width: 768px) {
    margin: 0 auto;
  }

  .mz-container {
    position: relative;
    z-index: 2;
    background-color: #49230C;
    max-width: 1140px;
    width: 100%;
    padding: 60px 80px;

    @media only screen and (max-width: 1180px) {
      padding: 60px 30px;
    }

    @media only screen and (max-width: 768px) {
      max-width: 600px;
      padding: 40px;
    }

    @media only screen and (max-width: 480px) {
      padding: 30px;
    }

    .mz-row {
      justify-content: space-between;
      align-items: center;
      gap: 30px 20px;

      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
        gap: 20px;
      }

      .mz-col {
        &:nth-child(1) {
          width: 32%;

          @media only screen and (max-width: 768px) {
            width: 100%;
          }

          @media only screen and (max-width: 480px) {
            width: 100%;
          }
          
          h2 {
            color: #FFFFFF;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            text-transform: uppercase;
            line-height: 1.1em;
            letter-spacing: -0.02em;
            margin: 0;

            @media only screen and (max-width: 1180px) {
              font-size: 30px;
            }

            @media only screen and (max-width: 768px) {
              font-size: 28px;
              text-align: center;
            }

            @media only screen and (max-width: 480px) {
              font-size: 20px;
              line-height: 1.5em;
            }
          }
        }

        &:nth-child(2) {
          width: 60%;

          @media only screen and (max-width: 768px) {
            width: calc(70% - 15px);
          }

          @media only screen and (max-width: 480px) {
            width: 100%;
          }

          .mz-carousel-main {
            .flickity-viewport {
              .flickity-slider {
                .mz-carousel-cell {
                  margin: 0 15px;

                  .mz-inner-row {
                    justify-content: flex-start;
                    align-items: center;
                    gap: 25px;
                    width: 100%;
                    margin: 0 0 20px;

                    .mz-inner-col {
                      &:nth-child(1) {
                        background-color: #FFFFFF;
                        width: 60px;
                        height: 60px;

                        .testimony-profile-img {}
                      }

                      &:nth-child(2) {
                        width: 70%;

                        .testimony-name {
                          color: #FFFFFF;
                          font-style: normal;
                          font-size: 18px;
                          font-weight: 500;
                          text-transform: uppercase;
                          line-height: 1.5em;
                          margin: 0 0 10px;
                        }

                        ul {
                          display: flex;
                          justify-content: flex-start;
                          gap: 8px;

                          li {
                            color: #FFFFFF;
                            font-size: 18px;

                            .fa {
                              color: inherit;
                              display: block;

                              &.active {
                                color: #FFFF00;
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .testimony-quotes {
                    color: #FFFFFF;
                    font-style: normal;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.5em;
                    margin: 0;
                  }
                }
              }
            }
          }
        }

        &:nth-child(3) {
          width: 10%;

          @media only screen and (max-width: 768px) {
            width: calc(30% - 15px);
          }

          @media only screen and (max-width: 480px) {
            width: 100%;
          }

          .mz-carousel-slide-count {
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            span {
              color: inherit;
              display: block;

              &.mz-carousel-counter-slide {
                font-size: 13px;
                font-weight: 700;
              }

              &.mz-carousel-total-slide {
                font-size: 10px;
                font-weight: 400;
              }
            }
          }

          .mz-carousel-btn-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            max-width: 80px;
            width: 100%;
            margin: 0 auto;

            .mz-carousel-btn {
              display: block;
              background-color: transparent;
              opacity: 0.5;
              border: none;

              &:hover {
                opacity: 1;
              }

              svg {
                display: block;
              }

              &.mz-carousel-prev-btn {}
              &.mz-carousel-next-btn {}
            }
          }
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    background:
      linear-gradient( 90deg, #EFEEF0, #DCDDE1 75.26%, #BDBCBF 100% );
    width: 100%;
    height: calc(50% + 25px);

    @media only screen and (max-width: 768px) {
      height: calc(70% + 25px);
    }
  }
}

.theme-dark {
  .mz-sc-section--testimonials-carousel {
    .mz-container {
      background:
        linear-gradient( 180deg, #825036 0%, #49230C 100% );
    }

    &::after {
      background: #0B0D0F;
      background-color: #0B0D0F;
    }
  }
}