.mz-sc-zenon-carousel {
    height: 647px;
    background: linear-gradient(180deg, #49230C 0%, #0B0D0F 100%);
    .carousel-cell {
        padding-top: 20%;
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 46px;
        /* or 144% */
        text-align: center;
        
        color: #AFACB4;
        p {
            width: 67.5%;
            padding: 0 16.25%;
        }
    }
    .flickity-page-dots {
        top: 18%;
        .dot{
            position: relative;
            width: 103px;
            height: 120px;
            top: -2px;
            font-family: 'Geometos';
            font-style: normal;
            font-weight: 400;
            font-size: 130px;
            border-radius: 0;
            opacity: 1;
            margin: 0;
            background: none;
            &::after {
                background: linear-gradient(180deg, rgba(194, 171, 144, 0.14) 0%, rgba(139, 102, 62, 0.14) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                animation: colorchangeback ease .5s forwards;
            }
            &.is-selected::after {
                background: linear-gradient(180deg, #C2AB90 0%, #8B663E 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                animation: colorchange ease .5s forwards;
            }
            &:nth-child(1)::after {
                content: "Z";
            }
            &:nth-child(2)::after {
                content: "E";
            }
            &:nth-child(3)::after {
                content: "N";
            }
            &:nth-child(4)::after {
                content: "O";
            }
            &:nth-child(5)::after {
                content: "N";
            }
        }
    }
}
@keyframes colorchange {
    0% {
        background: linear-gradient(180deg, rgba(194, 171, 144, 0.14) 0%, rgba(139, 102, 62, 0.14) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    100% {
        background: linear-gradient(180deg, #C2AB90 0%, #8B663E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
@keyframes colorchangeto {
    100% {
        background: linear-gradient(180deg, rgba(194, 171, 144, 0.14) 0%, rgba(139, 102, 62, 0.14) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    0% {
        background: linear-gradient(180deg, #C2AB90 0%, #8B663E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}