.mz-sc-programs-features {
    z-index: 1;
    padding: 0 0 50px;
    left:0;
    margin-top: 40px;

    .mz-flex-section-01 {
        display: flex;
        flex-direction: row;

        .mz-container {
            position: relative;
            z-index: 2;
            background: $denary-color;
            width: 670px;
            max-width: 100%;
            height: 510px;
            max-height: 100%;
            padding: 60px 120px 60px 40px;
            margin-left: 0%;
            align-items: center;
            margin-top: 40px;
            margin-right: 50px;
        
            .mz-row {
                justify-content: space-between;
                align-items: center;
                // gap: 30px 0;
        
                .mz-col {
                    flex-basis: 100%;
                    // padding: 0px 140px;
        
                    h3 {
                    color: $tertiary-color;
                    font-style: normal;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: -0.02em;
                    line-height: 100%;
                    margin-bottom: 10px;
                    }
                    
                    h2 {
                    color: $white-color;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    text-transform: uppercase;
                    line-height: 110%;
                    letter-spacing: -0.02em;
                    margin-bottom: 30px;
                    }

                    p {
                        color: $septenary-color;
                        font-style: normal;
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 70px;
                    }
                }

                .mz-flex {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    img {
                        max-height: 100%;
                        align-self:flex-start;
                    }

                    .mz-flex-row {
                        flex-basis: 60%;

                        h6 {
                            color: $white-color;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            text-transform: uppercase;
                            line-height: 100%;
                            letter-spacing: -0.02em;
                            margin-bottom: 10px;
                            }
            
                        p {
                            color: $septenary-color;
                            font-style: normal;
                            font-size: 14px;
                            line-height: 20px;
                            margin: 0;
                        }
                    }
                }
            }   
        }

        .mz-section {
            align-items: flex-start;
            padding: 0;
        }

        .mz-overlap {
            text-align: left;
            position: relative;
            background-image: linear-gradient($--14th-color,$nonary-color);
            max-height: 180px;
            width: 415px;
            max-width: 100%;
            padding: 50px;
            margin-top: 20%;
            z-index: 1;
            margin-left: -150px;
            flex-basis: 100%;
            right:0;
            margin-right: 0;

            h1 {
                color: $tertiary-color;
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                text-transform: uppercase;
                line-height: 100%;
                letter-spacing: -0.02em;
                margin-bottom: 5px;
            }

            h3 {
                color: $white-color;
                font-style: normal;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: -0.02em;
                line-height: 100%;
                margin: 0;
            }
        }
    }

    .mz-flex-section-02 {
        padding: 100px 0px;
        display: flex;
        flex-direction: row;
        gap: 60px;

        .mz-container-card {
            width: 445px;

            .mz-card-title {
                padding: 25px 30px;
                height: 74px;
                background-color: $nonary-color;
                
                h3 {
                    color: $white-color;
                    font-style: normal;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: -0.02em;
                    line-height: 100%;
                    margin: 0;
                }
            }
            .mz-card-body {
                padding: 40px 30px;
                height: 427px;
                background-color: $--16th-color;   
                
                p {
                    color: $senary-color;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    text-align: left;
                    max-width: 350px;
                    margin-bottom: 60px;
                }

                .mz-program-curriculum {
                    display: flex;
                    flex-direction: row;
                    gap: 20px; 

                    li {
                        display: flex;
                        flex-direction: row;
                        font-style: normal;
                        font-size: 14px;
                        padding: 10px 0px;
                        gap: 5px;
                        text-transform: uppercase;
                    } 

                    .mz-title {
                        color: $black-color;
                        font-weight: 700;
                    } 
                    .mz-curriculum {
                        color: $septenary-color;
                        font-weight: 800;
                    }

                    .line {
                        width: 130px;
                        border-bottom: 1px solid rgba(175,172,180,0.4);
                        align-self: center;
                    }

                    
                }
            }
        }

        .mz-details {
            width: 56%;
            margin-top: 10px;

            .mz-row-01 {
                margin-bottom: 75px;
            }

            .mz-row-02 {
                margin-bottom: 40px;
            }

            h6 {
                color: $black-color;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                line-height: 100%;
                letter-spacing: -0.02em;
                margin-bottom: 20px;
                }

            p {
                color: $senary-color;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }

            .mz-checklist{
                ul {
                    columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;
                    column-gap: 0;

                    li {
                        color: $senary-color;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        padding: 5px 0px;
                        
                        img {
                            padding-inline-end: 4px;
                        }
                    }
                }
            }

            .mz-buttons {
                margin-top: 75px;
                display: flex;
                gap: 20px;

                .mz-cta.mz-cta-start-now {
                    color: $white-color;
                    background-image: linear-gradient($--14th-color,$nonary-color);
                    border: none;
                    width: 175px;
    
                    &:hover {
                        color: $white-color;
                        background-image: linear-gradient($nonary-color,$primary-color);
                    }
                }
                
                .mz-cta.mz-cta-free-trial {
                    color: $quinary-color;
                    border-color: $quinary-color;
                    width: 175px;
    
                    &:hover {
                        color: $white-color;
                    }
                }
            }
        }
    }
}
    
.theme-dark {
    .mz-sc-programs-features {
        .mz-flex-section-01 {
            .mz-container {
                background-color: $--19th-color;
            }
        }
        .mz-flex-section-02 {
            .mz-container-card {
                .mz-card-body {
                    background-color: $--19th-color;   

                    p {
                        color: $white-color;
                    }
    
                    .mz-program-curriculum {
    
                        .mz-title {
                            color: $white-color;
                            font-weight: 700;
                        } 
                        .mz-curriculum {
                            color: $septenary-color;
                            font-weight: 800;
                        }
    
                        .line {
                            border-bottom: 1px solid rgba(175,172,180,0.4);
                            align-self: center;
                        }
                    }
                }
            }

            .mz-details {
                h6 {
                    color: $white-color;
                }
    
                p {
                    color: $septenary-color;
                }
    
                .mz-checklist{
                    ul {
                        columns: 2;
                        -webkit-columns: 2;
                        -moz-columns: 2;
                        column-gap: 0;
    
                        li {
                            color: $septenary-color;   
                        }
                    }
                }
    
                .mz-buttons {
                    margin-top: 75px;
                    display: flex;
                    gap: 20px;
    
                    // .mz-cta.mz-cta-start-now {
                    //     color: $white-color;
                    //     background-image: linear-gradient($--14th-color,$nonary-color);
                    //     border-color: none;
                    //     width: 175px;
        
                    //     &:hover {
                    //         color: $white-color;
                    //         background-image: linear-gradient($nonary-color,$primary-color);
                    //     }
                    // }

                    .mz-cta.mz-cta-free-trial {
                        color: $white-color;
                        border-color: $white-color;
            
                        &:hover {
                            color: $black-color;
                            background: $white-color;
                        }
                    }
                    
                }
            }
        }
    }
}

@media (min-width: 1180px){
    
}

    
@media (max-width: 768px){

}

@media (max-width: 480px){

}