.mz-sc-section--recent-articles {
  background:
    linear-gradient( 90deg, #EFEEF1 0%, #DCDDE1 75.26%, #BDBCBF 100% );
  padding: 120px 30px 100px;

  @media only screen and (max-width: 1180px) {
    padding: 100px 30px;
  }
  
  .mz-container {
    max-width: 1040px;

    .mz-row {
      &.mz-title-row {
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin: 0 auto 60px;
        
        @media only screen and (max-width: 1180px) {
          flex-wrap: wrap;
          margin: 0 auto 50px;
        }
  
        h2 {
          color: #000000;
          font-style: normal;
          font-size: 34px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 1.2em;
          letter-spacing: -0.02em;
          margin: 0;

          @media only screen and (max-width: 1180px) {
            font-size: 32px;
            text-align: center;
            width: 100%;
          }
        }
  
        .mz-cta.mz-cta-more-articles {
          color: #6F4A37;
          border-color: #6F4A37;

          @media only screen and (max-width: 1180px) {
            margin: 0 auto;
          }

          &:hover {
            color: #FFFFFF;
          }
        }
      }
      
      &.mz-recent-articles-row {
        justify-content: center;
        align-items: stretch;
        gap: 30px 40px;

        @media only screen and (max-width: 1180px) {
          flex-wrap: wrap;
          gap: 30px;
        }

        .mz-col {
          background-color: #FFFFFF;
          max-width: 320px;
          width: 100%;

          .mz-recent-article-img-wrap {
            background-color: #808080;
            overflow: hidden;

            .mz-recent-article-img {
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 215px;
            }
          }

          .mz-recent-article-details-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 25px 0;
            height: calc(100% - 215px);
            padding: 30px 20px;

            .mz-recent-article-title {
              color: #000000;
              font-family: $primary-font-family;
              font-style: normal;
              font-size: 20px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: -0.02em;
              line-height: 1.25em;
              margin: 0;
            }

            .mz-recent-article-excerpt {
              color: #373F41;
              font-style: normal;
              font-size: 14px;
              font-weight: 300;
              line-height: 1.5em;
              min-height: 100px;
              margin: 0 0 15px;
            }

            .mz-inner-row {
              justify-content: space-between;
              align-items: center;
              width: 100%;
              margin: auto 0 0 0;

              .mz-recent-article-released-date {
                color: #AFACB4;
                font-style: normal;
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: -0.02em;
                line-height: 1.15em;
              }
              
              .mz-link-more-info {
                color: #6F4A37;
                font-style: normal;
                font-size: 17px;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
                line-height: 1.25em;
                display: inline-block;
                vertical-align: middle;

                span {
                  display: inline-block;
                  vertical-align: middle;

                  &:nth-child(1) {
                    margin: 0 8px 0 0;
                  }

                  &:nth-child(2) {
                    width: 20px;
                    overflow: hidden;
                    transition: width $hover-transition-duration ease-in-out;

                    svg {
                      display: block;
                      float: right;

                      path {
                        stroke: #6F4A37;
                      }
                    }
                  }
                }

                &:hover {
                  span {
                    &:nth-child(2) {
                      width: 35px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.theme-dark {
  .mz-sc-section--recent-articles {
    background: #0B0D0F;
    background-color: #0B0D0F;

    .mz-container {
      .mz-row {
        &.mz-title-row {
          h2 {
            color: #FFFFFF;
          }

          .mz-cta.mz-cta-more-articles {
            color: #FFFFFF;
            border-color: #FFFFFF;

            &:hover {
              color: #000000;
              background-color: #FFFFFF;
            }
          }
        }

        &.mz-recent-articles-row {
          .mz-col {
            background-color: #181818;

            .mz-recent-article-title {
              color: #FFFFFF;
            }

            .mz-recent-article-excerpt {
              color: #AFACB4;
            }

            .mz-inner-row {
              .mz-link-more-info {
                span {
                  &:nth-child(1) {
                    color: #B59C7E;
                  }

                  &:nth-child(2) {
                    svg {
                      path {
                        stroke: #B59C7E;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}