.mz-pb-heading-section {
  margin-top: 50px;
  padding: 0%;
  .mz-container {
    margin: auto;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    max-width: 700px;

    h2 {
      color: #0A0A0A;
      font-size: 32px; 
      line-height: 110%;   
    }

    h6 {
      color: #6F4A37;
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
}

.mz-sc-programs-carousel {

    .mz-carousel {
        background: $white-color;
        margin: 0px 85px;
    }

    .mz-carousel-cell {
        width: 66%;
        height: 200px;
        margin-right: 10px;
        background: $white-color;
        counter-increment: gallery-cell;
    }

    /* cell number */
    .mz-carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
    }
      
      .card {
          width: 255px;
          height: 335px;
          background-color: #fff;
          text-align: left;
          position: relative;
          border: 1px solid $septenary-color;
      }
      .program-item {
          width: 33%;
          padding-right: 2%;
          padding-left: 2%;
          margin-bottom: 30px;
      
          /* ensuring proper layout*/
          float: left;
      }
      .program-info {
          padding: 7%;
          min-height: 140px;
      }
      .program-topic {
          font-weight: 700;
          color: $quinary-color;
          font-size: 64px;
          margin-bottom: 50px;
      }
      .program-title {
          font-weight: 700;
          font-size: 18px;
          margin: 0 0 30%;
          text-transform: uppercase;
          max-width: 200px;
          line-height: 110%;
          letter-spacing: -0.02em;
          border-bottom: $septenary-color 1px;
      }
      .program-meta {
          color: $quinary-color;
          font-weight: 700;
          font-size: 14px;
          position: absolute;
          left: 7%;
          bottom: 7%;
      }
      .program-duration:before {
          display: inline-block;
          content: "•";
          padding-right: 5px;
          padding-left: 5px;
      }
      .program-caption {
          position: absolute;
          right: 5%;
          bottom: 5%;
          font-size: 18px;
          color: #AAB2BD;
      }

        .flickity-viewport {
          .flickity-slider {
            .mz-carousel-cell {
              margin: 0 15px;

              .mz-inner-row {
                justify-content: flex-start;
                align-items: center;
                gap: 25px;
                width: 100%;
                margin: 0 0 20px;

                .mz-inner-col {
                  &.col-01 {
                    background: $white-color;
                    flex-basis: 60px;
                    height: 60px;

                    .testimony-profile-img {}
                  }

                  &.col-02 {
                    flex-basis: 70%;
            }
          }
        }
}
          }
        }
      }