.mz-sc-programs-features {
    z-index: 1;
    padding: 0 0 50px;
    left:0;
    margin-top: 40px;

    .mz-flex-section-01 {
        display: flex;
        flex-direction: row;

        .mz-container {
            position: relative;
            z-index: 2;
            background: $denary-color;
            max-width: 670px;
            width: 100%;
            max-height: 510px;
            height: 100%;
            padding: 80px 140px;
            margin-left: 0%;
            align-items: center;
            margin-top: 40px;
            margin-right: 50px;
        
            .mz-row {
                justify-content: space-between;
                align-items: center;
                // gap: 30px 0;
        
                .mz-col {
                    flex-basis: 100%;
        
                    h3 {
                    color: $tertiary-color;
                    font-style: normal;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: -0.02em;
                    line-height: 100%;
                    margin: 0;
                    }
                    
                    h2 {
                    color: $white-color;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    text-transform: uppercase;
                    line-height: 100%;
                    letter-spacing: -0.02em;
                    margin-bottom: 30px;
                    }

                    p {
                        color: $septenary-color;
                        font-style: normal;
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 70px;
                    }
                }

                .mz-flex {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    img {
                        max-height: 100%;
                        align-self:flex-start;
                    }

                    .mz-flex-row {
                        flex-basis: 60%;

                        h6 {
                            color: $white-color;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            text-transform: uppercase;
                            line-height: 100%;
                            letter-spacing: -0.02em;
                            margin-bottom: 10px;
                            }
            
                        p {
                            color: $septenary-color;
                            font-style: normal;
                            font-size: 14px;
                            line-height: 20px;
                            margin: 0;
                        }
                    }
                }
            }   
        }

        .mz-section {
            align-items: flex-start;
            padding: 0;
        }

        .mz-overlap {
            text-align: left;
            position: relative;
            background-color: $nonary-color;
            max-height: 180px;
            max-width: 415px;
            padding: 60px 50px;
            margin-top: 20%;
            z-index: 1;
            margin-left: -250px;
            flex-basis: 100%;
            right:0;
            margin-right: 0;

            h1 {
                color: $tertiary-color;
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                text-transform: uppercase;
                line-height: 100%;
                letter-spacing: -0.02em;
                margin-bottom: 5px;
            }

            h3 {
                color: $white-color;
                font-style: normal;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: -0.02em;
                line-height: 100%;
                margin: 0;
            }
        }
    }

    .mz-flex-section-02 {
        margin: 100px 140px;
        display: flex;
        flex-direction: row;
        gap: 80px;

        .mz-container-card {
            width: 445px;

            .mz-card-title {
                padding: 25px 30px;
                height: 74px;
                background-color: $nonary-color;
                
                h3 {
                    color: $white-color;
                    font-style: normal;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: -0.02em;
                    line-height: 100%;
                    margin: 0;
                }
            }
            .mz-card-body {
                padding: 40px 30px;
                height: 427px;
                background-color: $--16th-color;   
                
                p {
                    color: $senary-color;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    text-align: left;
                    max-width: 350px;
                    margin-bottom: 60px;
                }

                .mz-program-curriculum {
                    display: flex;
                    flex-direction: row;
                    gap: 20px; 

                    li {
                        display: flex;
                        flex-direction: row;
                        font-style: normal;
                        font-size: 14px;
                        padding: 10px 0px;
                        gap:5px;
                        text-transform: uppercase;
                    } 

                    .mz-title {
                        color: $black-color;
                        font-weight: 700;
                    } 
                    .mz-curriculum {
                        color: $septenary-color;
                        font-weight: 800;
                    }
                    .line {
                        width: 110px;
                        border-bottom: 1px solid rgba(175,172,180,0.4);
                        align-self: center;
                    }

                    
                }
            }
        }

        .mz-details {
            max-width: 50%;
            margin-top: 10px;
            h6 {
                color: $black-color;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                line-height: 100%;
                letter-spacing: -0.02em;
                margin-bottom: 20px;
                }

            p {
                color: $senary-color;
                font-style: normal;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 75px;
            }
        }
    }
}
    
.theme-dark {

}

@media (max-width: 1180px){
    .mz-sc-programs-features {
        .mz-flex-section-01 {
            .mz-container {
                scale: 1.2em;
            }
        }
    }
}
    
@media (max-width: 768px){

}

@media (max-width: 480px){

}