.mz-sc-section--about-zenon-carousel {
  background: -webkit-linear-gradient(180deg, #49230c 0%, #0b0d0f 100%);
  background: linear-gradient(180deg, #49230c 0%, #0b0d0f 100%);
  padding: 100px 30px;

  @media only screen and (max-width: 1180px) {
    height: auto;
    padding: 100px 90px 70px;
  }

  @media only screen and (max-width: 768px) {
    padding: 80px 90px 30px;
  }

  @media only screen and (max-width: 480px) {
    padding: 70px 30px 30px;
  }

  .mz-container {
    .mz-row {
      display: flex;
      gap: 50px;
      height: max-content;

      @media only screen and (max-width: 1180px) {
        padding: 10px 0;
      }

      @media only screen and (max-width: 480px) {
        padding: 15px 0;
      }
      .mz-carousel-nav-item {
        display: flex;

        h1 {
          font-family: $secondary-font-family;
          font-style: normal;
          font-size: 130px;
          font-weight: 400;
          text-align: center;
          letter-spacing: -0.02em;
          line-height: 1.3em;
          background: -webkit-linear-gradient(180deg, #c2ab90 0%, #8b663e 100%);
          background: linear-gradient(180deg, #c2ab90 0%, #8b663e 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          margin: auto 0;

          @media only screen and (max-width: 1180px) {
            font-size: 100px;
          }
        }
      }
      .mz-carousel-slides-item {
        display: flex;

        p {
          color: #afacb4;
          font-family: $primary-font-family;
          font-size: 28px;
          font-weight: 300;
          // text-align: center;
          line-height: 1.5em;
          margin: auto 0;

          @media only screen and (max-width: 1180px) {
            font-size: 24px;
          }

          @media only screen and (max-width: 768px) {
            font-size: 22px;
            line-height: 1.25em;
          }

          @media only screen and (max-width: 480px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
